.sectionContainer {
    display: flex;
    justify-content: center;
    background-image: url('../assets/fundo-login.jpg');
    background-size: cover;
    background-position: center; 
    height: 90vh; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cardFeedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;

    width: 30vw;
    height: 80vh;
    background-color: var(--cor-primaria);
    border-radius: 20px;
    color: var(--branco);

    @media (max-width: 768px) {
        display: flex;
        gap: 10px;
        width: 80vw;
        height: 85vh;
    }
    
}

.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelStyle {
    color: var(--branco);
}

.inputStyle {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    background-color: var(--cinza);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    @media (max-width: 768px) {
        width: 70vw;
        height: 6vh;
    }
}

.inputStyleComent {
    display: flex;
    width: 20vw;
    padding: 5% 0 70% 1%;
    border: none;
    border-radius: 5px;
    background-color: var(--cinza);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    @media (max-width: 768px) {
        width: 70vw;
        height: 6vh;
    }
}

.inputStyleComent::placeholder {
    text-align: start; 
}

.buttonAlign {
    padding-top: 15px;

    @media (max-width: 768px) {
        background-color: var(--cor-secundaria);
        padding: 5px 20px 5px 20px;
        margin-top: 10px;
        border-radius: 10px;
        border: none ; 
        color: var(--branco);
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.4s ease;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
}
