

:root {
  --cor-primaria: #20354a;
  --cor-secundaria: #0F417D;
  --cor-terciaria: #6495ED;
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza: #DCDCDC;
  --vermelho: #dc3545;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
